/*--GLOBAL--*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------COLOR------*/
/*------MEDIA------*/
/*----TEXT-----*/
@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  font: 14px/24px "OpenSans", Arial, sans-serif;
  font-weight: normal;
  color: #283645; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

img {
  max-width: 100%; }

.svg-sprite {
  display: none; }

/*-BUTTON-*/
.btn-transparent {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  transition: 0.5s; }

.btn-transparent--cancel,
.btn-transparent--post {
  width: 88%; }

.btn-transparent--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1); }

.btn-transparent--post {
  margin-bottom: 15px;
  color: #d22856;
  border-color: #d22856; }

.btn-transparent--post:hover {
  color: #ffffff;
  background: #d22856; }

.btn-transparent--post:active {
  color: rgba(255, 255, 255, 0.3); }

.btn-transparent--cancel:hover {
  color: rgba(40, 54, 69, 0.3);
  border-color: rgba(40, 54, 69, 0.3); }

.btn-transparent--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(40, 54, 69, 0.3);
  border-color: transparent; }

.btn {
  padding: 20px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background: #2aab6d;
  border: 0;
  border-radius: 2px;
  outline: none;
  transition: 0.5s; }

.btn:hover {
  background: #1c9b5e; }

.btn:active {
  color: rgba(255, 255, 255, 0.3); }

/*---INDEX.HTML---*/
.main-header {
  position: relative;
  padding-bottom: 50px;
  background: #1d2631 url("../img/bg-back-mobile.jpg") no-repeat center center;
  background-size: cover; }
  .main-header__wrap {
    position: relative;
    width: 87.5%;
    margin: 0 auto; }

.main-header--index {
  padding-bottom: 0; }

.main-header--inner {
  min-height: 237px;
  padding: 0; }

.main-header__top-line {
  margin-bottom: 29px;
  padding: 18px 0;
  background: rgba(0, 0, 0, 0.3); }

.main-header__logo-link {
  display: inline-block; }

.main-header__logo {
  position: relative;
  z-index: 12;
  fill: #ffffff; }

.main-header__logo:hover {
  fill: #d22856; }

.main-header__logo:active {
  opacity: 0.3;
  fill: #ffffff; }

.main-header__logo--mobile {
  display: inline-block; }

.main-header__logo--tablet,
.main-header__logo--desktop {
  display: none; }

.main-header__title {
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff; }

.main-header__title--index {
  margin-bottom: 22px; }

.main-header__title--inner {
  margin-bottom: 22px; }

/*-RETINA-*/

.header-iphone {
  display: block; }
  .header-iphone img {
    vertical-align: bottom; }

.application {
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: column wrap;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff; }
  .application__wrap {
    width: 87.5%;
    margin: 0 auto; }

.application__btn:hover {
  color: #d22856;
  background: #ffffff; }

.application__btn:active {
  color: rgba(210, 40, 86, 0.3); }

.application__icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0 20px; }

.promo {
  position: relative;
  z-index: 5;
  padding-top: 113px;
  overflow: hidden;
  background: #f2f2f2; }
  .promo__wrap {
    position: relative;
    width: 87.5%;
    margin: 0 auto; }

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11vh;
  background: url("../img/bg-triangle-white.svg") no-repeat left center;
  background-size: cover; }

.promo__title {
  margin-bottom: 0;
  padding-top: 39px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center; }
  .promo__title span {
    display: block;
    margin-top: 28px; }

.promo__item {
  margin-bottom: 30px; }

.promo__item-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000; }

.promo__slogan-text {
  margin: 0; }

.promo__iphone {
  position: absolute;
  bottom: -40px;
  width: 100%;
  margin: 0 auto; }

.effect {
  margin-bottom: 55px;
  padding-top: 50px; }

.effect__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 87.5%;
  margin: 0 auto; }

.effect__timer {
  display: block;
  flex-basis: 50%; }

.effect__item {
  flex-basis: 50%; }

.effect__title {
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 36px; }
  .effect__title span {
    display: block; }

.effect__text {
  margin: 0;
  margin-bottom: 15px; }

.effect__link {
  color: #d22856; }

.reviews {
  margin-bottom: 5px;
  padding-top: 40px; }
  .reviews__wrap {
    width: 87.5%;
    margin: 0 auto; }

.reviews__arrow {
  display: none; }

.reviews__slide {
  display: none;
  line-height: 30px;
  text-align: center; }

.reviews__subtitle {
  display: none; }

.reviews__name {
  margin-bottom: 13px;
  font-size: 18px;
  color: #000000; }

.reviews__text {
  margin: 0;
  margin-bottom: 25px; }

.price-list {
  position: relative;
  padding-top: 122px;
  padding-bottom: 45px;
  background: #f2f2f2; }
  .price-list__wrap {
    position: relative;
    z-index: 8;
    text-align: center;
    width: 87.5%;
    margin: 0 auto; }

.col-img {
  text-align: center; }
  .col-img svg {
    vertical-align: middle; }
  .col-img .icon-yes {
    fill: #2aab6d; }
  .col-img .icon-no {
    fill: #f25b26; }

.price-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 11vh;
  background: url("../img/bg-triangle-white.svg") no-repeat left center;
  background-size: cover; }

.price__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase; }
  .price__head span:last-child {
    font-weight: 300;
    font-size: 24px; }

.price__hit {
  position: relative;
  overflow: hidden; }

.price__hit-label {
  position: absolute;
  top: 10px;
  left: -25px;
  z-index: 5;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  transform: rotate(-45deg); }

th {
  background: #283645;
  border: 2px solid #cccccc; }

.price__table {
  display: inline-table;
  width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse;
  empty-cells: hide;
  font-size: 14px;
  line-height: 30px;
  text-align: left; }
  .price__table td {
    padding-top: 14px;
    padding-right: 18px;
    padding-bottom: 14px;
    padding-left: 20px;
    text-transform: uppercase;
    border: 2px solid #cccccc; }

.contacts {
  margin-bottom: 33px;
  padding-top: 38px;
  text-align: center; }
  .contacts__wrap {
    width: 87.5%;
    margin: 0 auto; }

.contacts__title {
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px; }
  .contacts__title span {
    display: block; }

.contacts__items {
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  color: #d22856; }
  .contacts__items h3 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #283645; }
  .contacts__items a {
    font-weight: 300;
    font-size: 24px;
    color: #d22856;
    text-decoration: none; }
  .contacts__items .contacts__mailto:hover {
    color: #283645;
    border-bottom: 1px solid #283645; }
  .contacts__items .contacts__mailto:active {
    color: rgba(40, 54, 69, 0.3);
    border-bottom: 0; }

.contacts__items:nth-child(2) {
  margin-bottom: 28px; }

/*-SLIDER-*/
.slider-controls {
  margin: 0 auto;
  text-align: center; }

.slider-controls__item {
  display: none; }

.slider-controls__button {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  vertical-align: middle;
  background: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; }

.slider-controls__button:hover {
  background: rgba(40, 54, 69, 0.6); }

.slider-controls__button:active {
  background: rgba(40, 54, 69, 0.1); }

.slider-controls__button:last-child {
  margin-right: 0; }

#btn_1:checked ~ .slider-controls [for="btn_1"],
#btn_2:checked ~ .slider-controls [for="btn_2"],
#btn_3:checked ~ .slider-controls [for="btn_3"] {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: transparent;
  border-color: #283645;
  border-radius: 50%; }

#btn_1:checked ~ #slide_1,
#btn_2:checked ~ #slide_2,
#btn_3:checked ~ #slide_3 {
  display: block; }

.price-list .slider-controls__button {
  border-color: #f2f2f2; }

#btn1:checked ~ .slider-controls [for="btn1"],
#btn2:checked ~ .slider-controls [for="btn2"],
#btn3:checked ~ .slider-controls [for="btn3"] {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: transparent;
  border-color: #283645;
  border-radius: 50%; }

/*---FORM.HTML---*/
.form {
  display: flex;
  flex-direction: column;
  color: #283645; }

fieldset {
  margin: 0;
  padding: 0 0 29px 0;
  border: 0;
  outline: none; }

fieldset:nth-child(2n) {
  background: #f2f2f2; }

.form__wrap {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin: 0 auto; }

.form__row {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.form-label-text {
  margin-bottom: 6px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  text-indent: 21px;
  cursor: pointer; }

.fieldset-title {
  margin-bottom: 45px;
  padding: 0 8%;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase; }

.form-input-text {
  margin-bottom: 19px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  outline: none;
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #283645; }

::-moz-placeholder {
  color: #283645; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #283645; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #283645; }

.form__achievements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 55px; }
  .form__achievements .form__wrap {
    padding-top: 33px; }
  .form__achievements .form__row {
    flex-direction: row;
    -ms-grid-row-align: baseline;
        align-items: baseline;
    margin-bottom: 52px; }
  .form__achievements .form__row:last-child {
    margin: 0; }

.form-input-checkbox {
  display: none; }

.form-label-checkbox {
  position: relative;
  padding-left: 69px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer; }

.form-label-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  transform: translateY(-50%); }

.form-input-checkbox:checked + .form-label-checkbox::before {
  background: url("../img/icon-yes.svg") no-repeat center center, #ffffff; }

.form__application {
  padding-top: 43px;
  padding-bottom: 50px; }
  .form__application .fieldset-title {
    margin-bottom: 39px; }
  .form__application .form__row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 44px; }
  .form__application .form__row:last-child {
    margin: 0; }

.form-radio-input {
  display: none; }

.form-radio-label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer; }

.form-radio-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  transform: translateY(-50%); }

.form-radio-input:checked ~ .form-radio-label::before {
  background: url("../img/radio-disk.png") no-repeat center center, #ffffff; }

.form__contact {
  padding-top: 28px; }
  .form__contact .fieldset-title {
    display: none; }
  .form__contact .form__row-tablet {
    display: none; }

.form__emotions {
  padding-top: 55px;
  padding-bottom: 49px; }
  .form__emotions textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 14px 18px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    outline: none; }
  .form__emotions .fieldset-title {
    margin-bottom: 17px; }

.form__submit-wrap {
  display: flex;
  flex-direction: column; }

.interview__note {
  margin-top: 36px;
  line-height: 30px;
  text-transform: uppercase;
  text-indent: 45px; }
  .interview__note .interview__pink-text {
    color: #d22856; }
  .interview__note .interview__hidden-text {
    display: none; }

.btn--submit {
  padding: 15px 0; }

.btn--submit:disabled {
  background: #e5e5e5; }

.btn--submit:disabled:hover {
  background: #e5e5e5; }

/*-HOVER-*/
.form-input-text:hover,
textarea:hover,
.form-radio-label:hover::before,
.form-label-checkbox:hover::before {
  border-color: #283645; }

.form-input-text:focus,
textarea:focus,
.form-radio-label:active::before,
.form-label-checkbox:active::before {
  border-color: #d22856; }

/*---NAVIGATION---*/

.main-nav__item:last-child {
  border-bottom: 1px solid #000101; }

/*-MAP-*/
.map {
  position: relative;
  min-height: 300px;
  background: url("../img/bg-map.png") no-repeat center center;
  background-size: 100% 100%; }

.map::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 80px;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat;
  background-size: 100%; }

.page-content {
  margin-bottom: 43px;
  padding-top: 33px; }

.popup {
  position: relative;
  z-index: 105;
  display: none;
  padding: 40px 0;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 1px 15px 7px rgba(0, 1, 1, 0.15); }
  .popup .btn {
    width: 87.5%;
    margin: 0 auto; }

.popup:last-child {
  padding-bottom: 0; }

.popup__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000; }

.popup__btn-wrap {
  padding: 50px 0;
  background: #f2f2f2; }

.post {
  width: 87.5%;
  margin: 0 auto; }

.post {
  position: relative;
  margin-bottom: 18px;
  background: #f2f2f2; }
  .post:nth-last-child(2) {
    margin-bottom: 48px; }

.post--best {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
  margin-left: 0;
  padding: 0;
  background: #ffffff; }
  .post--best .post__photo {
    width: calc(100% + 12.5%); }

.post__slogan {
  margin-bottom: 40px;
  line-height: 30px;
  text-align: center; }
  .post__slogan span {
    display: block; }

.post__text-comment-wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 18px; }

.post__text-comment-wrap--first {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 18px;
  background: #f2f2f2;
  width: 87.5%;
  margin: 0 auto; }

.panorama-title {
  position: absolute;
  top: 0;
  right: 6.25%;
  width: 140px;
  padding: 8px 0;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #d22856; }

.post__photo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: bottom; }

.post__comment {
  margin: 0; }

.post__author {
  font-weight: 700; }

.comment__date {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase; }

.post__text {
  margin-top: 0;
  font-size: 14px; }

.post__like {
  display: flex;
  flex-direction: row; }

.post__like-btn {
  position: relative;
  align-self: flex-start;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  text-decoration: none; }

.icon-heart {
  display: inline-block;
  margin-right: 18px;
  fill: #d22856; }

.range-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 45px;
  padding-left: 40px; }

.range-controls__scale {
  width: 75%;
  height: 2px;
  margin: 0 auto;
  background: #283645; }

.range-controls__toggle {
  position: absolute;
  top: 50%;
  left: 80%;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.range-controls__toggle:active {
  background: #d22856; }

.range-controls {
  flex-basis: 100%; }

.range-controls__scale {
  position: absolute;
  bottom: 10px;
  left: 50%;
  flex: 1 100%;
  order: 4;
  margin-top: 40px;
  transform: translateX(-50%); }

.range-controls__scale--color,
.range-controls__scale--brightness {
  display: none; }

.slider-controls {
  margin: 0 auto;
  text-align: center; }

.slider-controls__item {
  display: none; }

.slider-controls__button {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  vertical-align: middle;
  background: rgba(40, 54, 69, 0.3);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; }

.slider-controls__button:hover {
  background: rgba(40, 54, 69, 0.6); }

.slider-controls__button:active {
  background: rgba(40, 54, 69, 0.1); }

.slider-controls__button:last-child {
  margin-right: 0; }

#btn_1:checked ~ .slider-controls [for="btn_1"],
#btn_2:checked ~ .slider-controls [for="btn_2"],
#btn_3:checked ~ .slider-controls [for="btn_3"] {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: transparent;
  border-color: #283645;
  border-radius: 50%; }

#btn_1:checked ~ #slide_1,
#btn_2:checked ~ #slide_2,
#btn_3:checked ~ #slide_3 {
  display: block; }

.price-list .slider-controls__button {
  border-color: #f2f2f2; }

#btn1:checked ~ .slider-controls [for="btn1"],
#btn2:checked ~ .slider-controls [for="btn2"],
#btn3:checked ~ .slider-controls [for="btn3"] {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: transparent;
  border-color: #283645;
  border-radius: 50%; }

.social-item {
  margin-bottom: 40px; }

.social-item__links {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  line-height: 45px;
  text-align: center;
  border: 3px solid #e9ebec;
  border-radius: 50%; }

.social-item__links:hover {
  border-color: #283645; }

.social-item__links:active {
  border-color: rgba(40, 54, 69, 0.1); }
  .social-item__links:active .social-item__links-youtube,
  .social-item__links:active .social-item__links-twitter,
  .social-item__links:active .social-item__links-facebook {
    fill: rgba(210, 40, 86, 0.3); }

.social-item__links:last-child {
  margin: 0; }

.social-item__links-youtube,
.social-item__links-twitter,
.social-item__links-facebook {
  display: inline-block;
  fill: #d22856; }

.main-footer__build a {
  margin-left: 10px; }

.tool {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f2f2f2; }

.tool__photo {
  display: block;
  margin: 0 auto; }

.tool__instrument {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-top: 45px; }

.tool__crop {
  display: inline-block;
  order: 1;
  width: 44px;
  height: 44px;
  fill: #d22856; }

.tool__color {
  width: 48px;
  height: 43px; }

.tool__brightness {
  width: 32px;
  height: 32px; }

.tool__color,
.tool__brightness {
  display: inline-block;
  fill: rgba(40, 54, 69, 0.3); }

.tool__crop:hover,
.tool__color:hover,
.tool__brightness:hover {
  fill: rgba(40, 54, 69, 0.5); }

.tool__crop:active,
.tool__color:active,
.tool__brightness:active {
  fill: #d22856; }

.tool__row:nth-child(2) {
  order: 2; }

.tool__row:nth-child(3) {
  order: 3; }

.tool-button {
  padding-top: 34px;
  text-align: center;
  border-top: 1px solid rgba(40, 54, 69, 0.1); }

.inner-subtitle {
  padding-top: 24px;
  padding-bottom: 46px;
  line-height: 30px;
  text-align: center;
  width: 87.5%;
  margin: 0 auto; }

.form-subtitle {
  padding-bottom: 0; }

.hidden-text {
  display: none; }

.paragraph {
  display: inline-block;
  width: 100%; }

.main-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  margin: 0 auto; }

.footer__logo {
  padding-bottom: 33px;
  fill: #283645; }

.footer__logo:hover {
  fill: #d22856; }

.footer__logo:active {
  opacity: 0.3;
  fill: #283645; }

.footer__logo--desktop {
  display: none; }

.main-footer__build {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.main-footer__logo-academy {
  fill: #d22856; }

.main-footer__logo-academy:hover {
  fill: #283645; }

.main-footer__logo-academy:active {
  fill: rgba(40, 54, 69, 0.3); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 700px), (min-resolution: 1.5dppx) and (min-width: 700px) {
  .main-header {
    background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center center; } }

@media (max-width: 699px) and (min-width: 700px) {
  .promo__wrap {
    width: 88.5%; } }

@media (min-width: 700px) {
  .main-header__wrap {
    width: 88.5%; }
  .main-header {
    padding-bottom: 108px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center center; }
  .main-header--inner {
    min-height: 440px;
    padding-bottom: 0; }
  .main-header--inner .main-header__top-line {
    margin-bottom: 72px; }
  .main-header__logo--mobile {
    display: none; }
  .main-header__logo--tablet {
    display: inline-block; }
  .main-header__top-line {
    margin-bottom: 100px;
    padding: 26px 0 36px; }
  .main-header__title {
    display: inline-block;
    width: 300px;
    margin-bottom: 31px;
    padding: 0 30px;
    font-size: 40px;
    line-height: 46px; }
  .main-header__title--inner {
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    font-size: 50px;
    line-height: 60px; }
  .header-iphone {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto; }
  .header-iphone img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 545px; }
  .application__wrap {
    width: 88.5%; }
  .application {
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    width: 48.3%;
    margin-left: 3%; }
  .application__icons {
    margin-top: 46px;
    margin-bottom: 28px;
    line-height: 24px; }
  .promo__wrap {
    width: 88.5%; }
  .promo__wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
  .promo {
    padding-top: 12px; }
  .promo::before {
    content: "";
    height: 7vh; }
  .promo__item {
    margin-bottom: 40px; }
  .promo__title {
    padding-top: 52px;
    font-size: 40px;
    line-height: 50px; }
  .promo__title span {
    margin-top: 0;
    margin-bottom: 32px; }
  .promo__items {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start; }
  .promo__item-title {
    margin-bottom: 20px;
    line-height: 10px; }
  .promo__list {
    display: flex;
    flex-basis: 51.6%;
    flex-direction: column;
    align-items: center;
    padding-top: 78px;
    padding-left: 20px; }
  .promo__iphone-wrap {
    flex-basis: 48.4%;
    height: 485px;
    overflow: hidden; }
  .promo__iphone {
    position: static;
    bottom: auto; }
  .promo__iphone img {
    width: 268px;
    height: 482px; }
  .promo__iphone-1,
  .promo__iphone-2 {
    display: none; }
  .effect__wrap {
    width: 88.5%; }
  .effect {
    margin-bottom: 48px;
    padding-top: 59px; }
  .effect__title {
    margin-bottom: 10px; }
  .effect__text {
    margin-bottom: 10px; }
  .reviews__wrap {
    width: 88.5%; }
  .price-list__wrap {
    width: 88.5%; }
  .price-list {
    padding-top: 95px;
    padding-bottom: 35px; }
  .price-list:before {
    content: "";
    height: 8vh; }
  .price__head {
    padding: 15px 28px;
    padding-bottom: 5px;
    font-size: 16px; }
  .price__head span:last-child {
    font-size: 18px; }
  thead th:first-child {
    background-color: transparent;
    border: 0; }
  .table-mobile .icon-yes,
  .table-mobile .icon-no {
    display: none; }
  .price__table td {
    padding: 7px 10px;
    text-transform: capitalize; }
  .price-list .slider-controls {
    display: none; }
  .contacts__wrap {
    width: 88.5%; }
  .contacts {
    margin-bottom: 35px;
    padding-top: 45px; }
  .contacts__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px; }
  .contacts__items-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; }
  .contacts__items {
    flex: 1 50%;
    margin-bottom: 50px; }
  .contacts__items h3 {
    margin-bottom: 8px; }
  .contacts__items:nth-child(3) {
    flex: 1 100%;
    margin-bottom: 0; }
  #btn_1:checked ~ #slide_1,
  #btn_2:checked ~ #slide_2,
  #btn_3:checked ~ #slide_3 {
    display: flex;
    flex-direction: column-reverse; }
  .form__wrap {
    width: 88.5%; }
  fieldset:nth-child(2n) {
    background: #ffffff; }
  .form__contact .form__wrap,
  .form__achievements .form__wrap,
  .form__application .form__wrap,
  .form__emotions .form__wrap {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 60px;
    border: 2px solid #e5e5e5; }
  .form__full-name {
    order: 1;
    padding-bottom: 25px; }
  .form__full-name .form__row {
    flex-direction: row;
    justify-content: space-between;
    -ms-grid-row-align: baseline;
    align-items: baseline;
    margin-bottom: 55px; }
  .form__full-name .form__row:first-child .form-input-text {
    flex-basis: 87%; }
  .form__full-name .form__row:last-child {
    margin-bottom: 0; }
  .form__full-name .form-input-text {
    flex-basis: 81%;
    margin: 0; }
  .form__full-name .form-label-text {
    text-indent: 0; }
  .fieldset-title {
    position: absolute;
    top: -13px;
    left: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 30px;
    white-space: nowrap;
    background: #ffffff;
    transform: translateX(-50%); }
  .form__application {
    order: 2;
    padding-bottom: 18px; }
  .form__application .form-radio-label {
    padding-left: 58px; }
  .form__contact {
    order: 3;
    padding-bottom: 47px; }
  .form__contact .form__wrap {
    padding-top: 49px;
    padding-bottom: 10px; }
  .form__contact .fieldset-title {
    display: inline-block; }
  .form__contact .form__row-tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 21px; }
  .form__contact .form__row-tablet:last-child {
    margin-bottom: 10px; }
  .form__contact .form-input-text {
    margin-bottom: 13px;
    padding-left: 16px; }
  .form__contact .form-label-text {
    text-indent: 17px; }
  .form__contact .form__row {
    display: none; }
  .form__icon-phone {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .form__icon-phone svg {
    fill: #d22856; }
  .form__icon-mail {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .form__icon-mail svg {
    fill: #d22856; }
  .form__achievements {
    order: 4;
    padding-bottom: 0; }
  .form__achievements .form__row:not(:last-child) {
    margin-bottom: 52px; }
  .form__achievements .form-label-checkbox {
    padding-left: 57px; }
  .form__achievements .form__wrap {
    padding: 56px 60px; }
  .form__emotions {
    order: 5;
    padding-top: 49px;
    padding-bottom: 36px; }
  .form__emotions .form__wrap {
    padding-top: 47px;
    padding-bottom: 52px; }
  .form__emotions textarea {
    height: 190px; }
  .form__submit-wrap {
    order: 6; }
  .form__submit-wrap .form__wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  .form__submit-wrap .btn--submit {
    flex-basis: 33%; }
  .btn--submit,
  .interview__note {
    flex-grow: 1; }
  .interview__note {
    text-align: right; }
  .interview__hidden-text {
    display: none; }
  .main-nav__wrapper .main-nav__list {
    padding-top: 110px; }
  .main-header__wrap .main-nav__toggle {
    top: 18px; }
  .map {
    height: 380px;
    margin-bottom: 25px;
    background: url("../img/bg_map.png") no-repeat center center; }
  .map::before {
    content: "";
    height: 19vh; }
  .page-content {
    margin-bottom: 77px; }
  .popup .btn {
    width: 88.5%; }
  .popup-wrap {
    width: 71.5%;
    margin: 0 auto; }
  .popup__inner-wrap {
    width: 64%;
    margin: 0 auto; }
  .popup__title {
    font-size: 30px;
    line-height: 40px; }
  .popup__text {
    font-size: 18px;
    line-height: 28px; }
  .popup {
    padding: 45px 0; }
  .post {
    width: 88.5%; }
  .post__text-comment-wrap--first {
    width: 88.5%; }
  .post__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .post {
    display: flex;
    flex-grow: 0;
    flex-basis: 42.8%;
    flex-direction: column;
    min-height: 457px; }
  .post:nth-last-child(2) {
    margin-bottom: auto; }
  .panorama-title {
    top: 56px;
    right: 5.7%; }
  .post:nth-child(2n) {
    margin-left: 5.7%; }
  .post:nth-child(2n+3) {
    margin-right: 5.7%; }
  .post--best {
    flex: 1 100%;
    margin-right: 0;
    margin-bottom: 47px;
    margin-left: 0; }
  .post__author {
    font-size: 14px; }
  .post__text-comment-wrap {
    padding: 24px 27px; }
  .post__like {
    flex-direction: row-reverse;
    justify-content: space-between; }
  .icon-heart {
    margin: 0; }
  .post__text-comment-wrap--first {
    position: relative;
    padding: 25px 27px; }
  .post__text-comment-wrap--first .post__like {
    position: absolute;
    top: 25px;
    right: 25px; }
  .post__text-comment-wrap--first .icon-heart {
    margin-left: 15px; }
  .post__text-comment-wrap--first .post__text {
    margin-bottom: 0; }
  .post__slogan {
    display: block;
    margin-top: 0;
    margin-top: 43px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
    font-size: 18px; }
  .range-controls {
    flex-direction: column;
    justify-content: space-between;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    padding-right: 0; }
  .range-controls__scale {
    position: static;
    left: 0;
    flex: 0 74%;
    margin-top: 0;
    transform: translateX(0); }
  .range-controls__scale--color,
  .range-controls__scale--brightness {
    display: block; }
  .range-controls__scale--crop .range-controls__toggle {
    left: 75%; }
  .range-controls__scale--color .range-controls__toggle {
    left: 15%; }
  .range-controls__scale--brightness .range-controls__toggle {
    left: 50%; }
  #btn_1:checked ~ #slide_1,
  #btn_2:checked ~ #slide_2,
  #btn_3:checked ~ #slide_3 {
    display: flex;
    flex-direction: column-reverse; }
  .social-item {
    margin-bottom: 0;
    padding-right: 20px; }
  .tool__flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 87.5%;
    margin: 0 auto; }
  .tool {
    margin-bottom: 30px;
    padding-top: 60px;
    padding-bottom: 44px; }
  .tool__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddfe0; }
  .range-controls {
    margin-bottom: 0; }
  .tool__wrap-photo {
    flex-basis: 50%; }
  .tool__wrap-photo a {
    display: inline-block; }
  .tool__wrap-photo .tool__photo {
    margin: 0; }
  .tool__instrument {
    margin: 0;
    padding: 0; }
  .tool__wrap-instrument {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 0; }
  .tool__crop {
    width: 22px;
    height: 22px;
    fill: rgba(40, 54, 69, 0.3); }
  .tool__color {
    width: 24px;
    height: 22px; }
  .tool__brightness {
    width: 22px;
    height: 16px; }
  .tool-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 21px;
    border: 0; }
  .btn-transparent--post,
  .btn-transparent--cancel {
    width: 80%; }
  .inner-subtitle {
    width: 88.5%; }
  .inner-subtitle {
    box-sizing: border-box;
    padding: 0 8%;
    padding-top: 90px;
    padding-bottom: 77px;
    font-size: 18px;
    text-align: center; }
  .form-subtitle {
    padding-bottom: 40px; }
  .hidden-text {
    display: inline; }
  .paragraph {
    width: auto; }
  .main-footer__wrap {
    width: 88.5%; }
  .main-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 35px; }
  .footer__logo {
    margin-bottom: 0; }
  .main-footer__build {
    align-self: flex-start;
    padding-top: 10px; } }

@media (min-width: 700px), (min-width: 1200px) {
  .reviews__slide {
    margin-bottom: 28px; }
  .reviews__name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px; }
  .reviews__subtitle {
    display: block; }
  .reviews__text {
    font-weight: 400;
    font-size: 18px; } }

@media (max-width: 699px), (min-width: 700px) {
  .main-nav--closed {
    display: block; }
  .main-nav--js {
    display: none; }
  .main-nav--opened {
    display: block; }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%; }
  .main-nav__list {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    list-style: none;
    background: #283645; }
  .main-nav__toggle {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 12;
    display: block;
    width: 50px;
    height: 24px;
    cursor: pointer; }
  .main-nav__toggle--closed::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 4px;
    background: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
    transition: ease-in-out 0.4s; }
  .main-nav__toggle--closed:hover::before {
    background: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856; }
  .main-nav__toggle--closed:active::before {
    background: rgba(210, 40, 86, 0.3);
    box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 20px 0 0 rgba(210, 40, 86, 0.3); }
  .main-nav__toggle--opened {
    top: 0;
    right: 0;
    z-index: 12;
    display: block;
    transition: ease-in-out 0.4s; }
  .main-nav__toggle--opened::before,
  .main-nav__toggle--opened::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 4px;
    background-color: #ffffff;
    transition: ease-in-out 0.4s; }
  .main-nav__toggle--opened::before {
    transform: rotate(45deg); }
  .main-nav__toggle--opened::after {
    transform: rotate(-45deg); }
  .main-nav__toggle--opened:hover::before,
  .main-nav__toggle--opened:hover::after {
    background: #d22856; }
  .main-nav__toggle--opened:active::before,
  .main-nav__toggle--opened:active::after {
    background: rgba(210, 40, 86, 0.3); }
  .main-nav__link {
    position: relative;
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #283645;
    border-top: 1px solid #000101; }
  .main-nav__link:hover {
    color: #d22856; }
  .main-nav__link:active {
    color: rgba(210, 40, 86, 0.3); }
  .main-nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15); } }

@media (min-width: 700px) and (min-width: 700px) {
  .tool__flex-wrap {
    width: 88.5%; } }

@media (max-width: 699px) and (min-width: 1200px) {
  .promo__wrap {
    width: 78.33333%; } }

@media (min-width: 700px) and (min-width: 1200px) {
  .tool__flex-wrap {
    width: 78.33333%; } }

@media (min-width: 1200px) and (min-width: 700px) {
  .tool {
    width: 88.5%; } }

@media (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 30px; }
  .btn-transparent {
    font-size: 21px; }
  .btn-transparent--post {
    font-size: 18px;
    line-height: 18px; }
  .btn-transparent--cancel {
    font-size: 18px;
    line-height: 18px; }
  .main-header__wrap {
    width: 78.33333%; }
  .main-header {
    padding-bottom: 90px;
    background: #1d2631 url("../img/bg-back-desktop.jpg") no-repeat center center; }
  .main-header--inner {
    min-height: 395px;
    padding: 0; }
  .main-header__logo--tablet {
    display: none; }
  .main-header__logo--desktop {
    display: inline-block; }
  .main-header__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0; }
  .main-header__top-line .main-header__wrap {
    flex-basis: 26.6%;
    margin: 0;
    padding-left: 10.83333%; }
  .main-header--index {
    padding-bottom: 125px; }
  .main-header__top-line--index {
    margin-bottom: 110px; }
  .main-header__logo-link {
    flex-grow: 1; }
  .main-header__title {
    display: block;
    width: 100%;
    font-size: 50px;
    line-height: 60px; }
  .main-header__wrap--index {
    width: 48.3%;
    margin: 0;
    text-align: center; }
  .main-header__title--index {
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-right: 0;
    padding-left: 0; }
  .interview__note-desktop {
    display: block; }
  .interview__note {
    display: none; }
  .header-iphone img {
    width: 1050px;
    height: 645px; }
  .application__wrap {
    width: 78.33333%; }
  .application {
    margin-left: 0; }
  .application__wrap {
    box-sizing: border-box;
    padding: 0 50px;
    padding-left: 30px; }
  .application__icons {
    margin-top: 70px;
    margin-bottom: 46px;
    padding: 0 70px; }
  .application__access {
    display: inline-block;
    padding: 0 20px; }
  .promo__wrap {
    width: 78.33333%; }
  .promo {
    padding-top: 0; }
  .promo::before {
    content: "";
    height: 180px; }
  .promo__title {
    margin-bottom: 80px;
    padding-top: 65px;
    font-size: 50px;
    line-height: 60px; }
  .promo__items {
    flex-direction: column-reverse;
    flex-wrap: nowrap; }
  .promo__iphone-wrap {
    display: flex;
    flex-grow: 0;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: visible; }
  .promo__iphone-1,
  .promo__iphone-2,
  .promo__iphone {
    display: block;
    flex: 1 33.33333%;
    text-align: center; }
  .promo__iphone-1 img,
    .promo__iphone-2 img,
    .promo__iphone img {
    width: 311px; }
  .promo__iphone {
    margin: 0; }
  .promo__iphone img {
    height: 300px; }
  .promo__list {
    flex-grow: 0;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-around;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 45px;
    padding-left: 0; }
  .promo__item {
    flex-basis: 240px;
    text-align: center; }
  .promo__item-title {
    font-size: 30px;
    line-height: 30px; }
  .promo__slogan-text {
    font-size: 18px;
    line-height: 30px; }
  .effect__wrap {
    width: 78.33333%; }
  .effect {
    padding-top: 35px;
    padding-bottom: 50px;
    background: #f2f2f2; }
  .effect__wrap {
    justify-content: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start; }
  .effect__timer {
    flex-basis: 39%; }
  .effect__item {
    flex-basis: 560px;
    padding-top: 90px; }
  .effect__title {
    margin-bottom: 0;
    line-height: 30px; }
  .effect__title span {
    display: inline; }
  .effect__text {
    display: inline-block;
    margin-bottom: 35px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px; }
  .effect__text span {
    display: inline-block;
    width: 100%; }
  .reviews__wrap {
    width: 78.33333%; }
  .reviews {
    padding-top: 34px; }
  .reviews__items {
    position: relative;
    flex-basis: 77.6%;
    padding-top: 107px; }
  .reviews__items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 79px;
    height: 63px;
    background: url("../img/quotes.png") no-repeat center center;
    transform: translateX(-50%); }
  .reviews__arrow {
    position: absolute;
    top: 46%;
    left: 0;
    display: block;
    cursor: pointer;
    fill: rgba(40, 54, 69, 0.3); }
  .reviews__arrow--left {
    right: 0;
    left: auto;
    transform: scale(-1); }
  .reviews__arrow:hover {
    fill: #283645; }
  .reviews__arrow:active {
    fill: rgba(40, 54, 69, 0.1); }
  .reviews__slide {
    -ms-grid-row-align: center;
    align-items: center; }
  .reviews__subtitle {
    font-size: 18px; }
  .reviews__name {
    font-size: 24px; }
  .reviews__text {
    width: 77.6%; }
  .price-list__wrap {
    width: 78.33333%; }
  .price-list {
    padding-top: 164px;
    padding-bottom: 60px; }
  .price-list::before {
    content: "";
    height: 180px; }
  .col-1 {
    font-size: 18px; }
  .price__head {
    padding: 17px 28px;
    font-size: 18px; }
  .price__head span:last-child {
    font-size: 24px; }
  .price__table td {
    padding: 15px 10px; }
  .price__table .col-1 {
    box-sizing: border-box;
    width: 236px;
    padding-right: 0;
    padding-left: 20px; }
  .contacts__wrap {
    width: 78.33333%; }
  .contacts {
    margin-bottom: 21px;
    padding-top: 63px; }
  .contacts__title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px; }
  .contacts__items-wrap {
    flex-wrap: nowrap; }
  .contacts__items {
    flex: 0 33.33333%;
    margin-bottom: 0; }
  .contacts__items h3 {
    margin-bottom: 20px; }
  .contacts__items:nth-child(1) {
    order: 1; }
  .contacts__items:nth-child(2) {
    order: 3; }
  .contacts__items:nth-child(3) {
    flex: 0 33.33333%;
    order: 2; }
  .slider-controls {
    display: none; }
  .form__wrap {
    width: 78.33333%; }
  .form-label-text,
  .fieldset-title {
    font-size: 14px; }
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .form__full-name {
    flex: 1 50%;
    box-sizing: border-box;
    padding-top: 45px;
    padding-right: 1%; }
  .form__full-name .form__wrap {
    margin-right: 0;
    margin-left: 22.05%; }
  .form__full-name .form__row {
    justify-content: space-around;
    margin-bottom: 57px; }
  .form__full-name .form__row:first-child .form-input-text {
    flex-basis: 78%;
    margin-left: 18px; }
  .form__full-name .form-input-text {
    flex-basis: 70%; }
  .form__application {
    flex: 1 50%;
    box-sizing: border-box;
    padding-top: 37px;
    padding-left: 36px; }
  .form__application .form__wrap {
    box-sizing: border-box;
    width: 77%;
    margin-right: 18.05%;
    margin-left: 0;
    padding-left: 74px; }
  .form__application .form__row {
    margin-bottom: 43px; }
  .form__contact {
    flex: 1 100%;
    padding-top: 33px;
    padding-bottom: 24px; }
  .form__contact .form__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px; }
  .form__contact .form__row-tablet {
    flex: 0 46%;
    margin-bottom: 10px; }
  .form__contact .form-label-text {
    margin-bottom: 0;
    line-height: 18px; }
  .form__contact .form-input-text {
    margin-bottom: 18px; }
  .form__achievements {
    flex: 1 100%;
    padding-top: 23px; }
  .form__achievements .form__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 0; }
  .form__achievements .form__row {
    flex: 0 30%;
    margin-bottom: 15px; }
  .form__achievements .form__row:not(:last-child) {
    margin-bottom: 52px; }
  .form__achievements .form__row:nth-child(3) {
    order: 2; }
  .form__achievements .form__row:nth-child(4) {
    order: 4; }
  .form__icon-mail {
    top: 15px; }
  .form__emotions {
    flex: 1 100%;
    margin-bottom: 0;
    padding-top: 53px; }
  .form__emotions .form__wrap {
    padding-bottom: 45px; }
  .form__emotions textarea {
    height: 120px; }
  .form__submit-wrap {
    flex: 1 100%; }
  .form__submit-wrap .btn--submit {
    flex-grow: 0;
    flex-basis: 31.9%; }
  .interview__note {
    display: block;
    font-size: 14px;
    text-indent: 0; }
  .interview__note .interview__hidden-text {
    display: inline; }
  .main-nav {
    position: static;
    display: block;
    align-self: flex-end;
    width: 62.5%;
    padding-right: 10.83333%; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper .main-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    background-color: transparent; }
  .main-header--inner .main-header__top-line {
    margin-bottom: 62px; }
  .main-nav__link {
    display: inline-block;
    box-sizing: border-box;
    min-height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    box-shadow: none; }
  .main-nav__link:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff; }
  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
    border-bottom: 0; }
  .main-nav__link::before {
    display: none; }
  .map {
    height: 524px;
    margin-bottom: 40px; }
  .map::before {
    content: "";
    height: 21vh; }
  .page-content {
    margin-bottom: 65px; }
  .popup .btn {
    width: 78.33333%; }
  .popup--error {
    width: 460px;
    margin: 0 auto; }
  .popup--error .popup__inner-wrap {
    width: 300px; }
  .popup .btn {
    width: 100%; }
  .post {
    width: 78.33333%; }
  .post__text-comment-wrap--first {
    width: 78.33333%; }
  .panorama-title {
    top: 8.6%;
    right: 10.83333%;
    padding: 4px 0; }
  .post:not(.post--best) {
    flex: 0 25%;
    margin-bottom: 25px; }
  .post:nth-child(2n) {
    margin-left: 0; }
  .post:nth-child(2n+3) {
    margin-right: 1.5%; }
  .post:nth-child(3n+2) {
    margin-left: 10.83%; }
  .post:nth-child(3n+4) {
    margin-right: 10.83%; }
  .post--best {
    margin-right: 0;
    margin-left: 0; }
  .post__text-comment-wrap--first {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px; }
  .post__text-comment-wrap--first .post__like {
    position: absolute;
    top: 25px;
    right: 25px; }
  .post__text-comment-wrap--first .icon-heart {
    margin-left: 15px; }
  .post__slogan {
    margin-top: 37px;
    margin-bottom: 64px; }
  .range-controls {
    padding-left: 0; }
  .range-controls__scale {
    flex: 1 75%;
    margin-top: 18px;
    margin-left: 48px; }
  .range-controls__scale--crop .range-controls__toggle {
    left: 25%; }
  .range-controls__scale--color .range-controls__toggle {
    left: 85%; }
  .range-controls__scale--brightness .range-controls__toggle {
    left: 55%; }
  .slider-controls {
    display: none; }
  .social-item {
    padding-right: 0; }
  .tool {
    width: 87.5%;
    margin: 0 auto; }
  .tool {
    margin-bottom: 90px; }
  .tool__wrap-photo {
    flex-basis: 41%;
    text-align: center; }
  .tool__flex-wrap {
    justify-content: flex-start;
    width: 87.33333%; }
  .tool__wrap-instrument {
    flex-basis: 59%;
    box-sizing: border-box;
    padding-left: 77px; }
  .tool__photo {
    width: 100%;
    height: 100%; }
  .tool__row {
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    width: 93%;
    margin-bottom: 17px;
    padding-bottom: 0; }
  .tool__crop {
    width: 44px;
    height: 44px; }
  .tool__color {
    width: 44px;
    height: 43px; }
  .tool__brightness {
    width: 44px;
    height: 32px; }
  .tool-button {
    flex-direction: row;
    justify-content: space-between;
    -ms-grid-row-align: baseline;
    align-items: baseline;
    padding-bottom: 10px; }
  .btn-transparent--post,
  .btn-transparent--cancel {
    box-sizing: border-box;
    width: 184px;
    margin-bottom: 0; }
  .inner-subtitle {
    width: 78.33333%; }
  .inner-subtitle {
    padding-right: 7%;
    padding-bottom: 89px;
    padding-left: 7%; }
  .form-subtitle {
    padding-bottom: 7px; }
  .main-footer__wrap {
    width: 78.33333%; }
  .footer__logo {
    display: none; }
  .footer__logo--desktop {
    display: block;
    fill: #283645; } }

@media (min-width: 1200px) and (min-width: 1200px) {
  .tool {
    width: 78.33333%; } }

@media (max-width: 699px) {
  .application {
    padding: 23px 0 30px;
    font-size: 14px;
    line-height: 24px;
    background: #1d2631; }
  .promo {
    text-align: center; }
  .promo__wrap {
    position: relative;
    padding-bottom: 290px;
    width: 87.5%;
    margin: 0 auto; }
  .promo__iphone {
    left: 50%;
    transform: translateX(-50%); }
  .promo__iphone-1,
  .promo__iphone-2 {
    display: none; }
  .effect {
    display: none; }
  .hide {
    display: none; }
  .table-mobile {
    position: relative;
    display: block; }
  .table-mobile .icon-yes,
    .table-mobile .icon-no {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: #2aab6d; }
  .table-mobile .icon-no {
    fill: #f25b26; }
  .main-footer--index {
    display: none; }
  .main-footer__logo-academy--desktop {
    display: block; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 699px), (min-resolution: 1.5dppx) and (max-width: 699px) {
  .main-header {
    background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center center; } }
