/*------COLOR------*/
$bg-gray: #f2f2f2;
$dark-blue: #1d2631;
$white: #ffffff;
$pink: #d22856;
$black: #000000;
$green: #2aab6d;

/*------MEDIA------*/
$mobile: "(max-width : 699px)";
$tablet: "(min-width : 700px)";
$desktop: "(min-width : 1200px)";
$retina: "(min-resolution : 144dpi), (min-resolution: 1.5dppx)";

/*----TEXT-----*/
$font: "OpenSans", Arial, sans-serif;
$base-color: #283645;
$mobile-title: 24px;
$tablet-title: 40px;
$desk-title: 50px;
