.form {
  display: flex;
  flex-direction: column;

  color: $base-color;
}
fieldset {
  margin: 0;
  padding: 0 0 29px 0;

  border: 0;
  outline: none;
}
fieldset:nth-child(2n) {
  background: $bg-gray;
}
.form__wrap {
  display: flex;
  flex-direction: column;

  @include wrap;
}
.form__row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.form-label-text {
  margin-bottom: 6px;

  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  text-indent: 21px;

  cursor: pointer;
}
.fieldset-title {
  margin-bottom: 45px;
  padding: 0 8%;

  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $pink;
  text-transform: uppercase;
}
.form-input-text {
  margin-bottom: 19px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  outline: none;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: $base-color;
}
::-moz-placeholder {
  color: $base-color;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: $base-color;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: $base-color;
}


.form__achievements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 55px;
  .form__wrap {
    padding-top: 33px;
  }
  .form__row {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 52px;
  }
  .form__row:last-child {
    margin: 0;
  }
}
.form-input-checkbox {
  display: none;
}
.form-label-checkbox {
  position: relative;

  padding-left: 69px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  cursor: pointer;
}
.form-label-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  background-color: $white;
  border: 2px solid #e5e5e5;
  transform: translateY(-50%);
}
.form-input-checkbox:checked + .form-label-checkbox::before {
  background: url("../img/icon-yes.svg") no-repeat center center, $white;
}
.form__application {
  padding-top: 43px;
  padding-bottom: 50px;
  .fieldset-title {
    margin-bottom: 39px;
  }
  .form__row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 44px;
  }
  .form__row:last-child {
    margin: 0;
  }
}
.form-radio-input {
  display: none;
}
.form-radio-label {
  position: relative;

  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;

  cursor: pointer;
}
.form-radio-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 39px;
  height: 39px;

  background: $white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  transform: translateY(-50%);
}
.form-radio-input:checked ~ .form-radio-label::before {
  background: url("../img/radio-disk.png") no-repeat center center, $white;
}
.form__contact {
  padding-top: 28px;
  .fieldset-title {
    display: none;
  }
  .form__row-tablet {
    display: none;
  }
}
.form__emotions {
  padding-top: 55px;
  padding-bottom: 49px;
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 14px 18px;

    font-size: 18px;
    line-height: 30px;

    border: 2px solid #e5e5e5;
    outline: none;
  }
  .fieldset-title {
    margin-bottom: 17px;
  }
}

.form__submit-wrap {
  display: flex;
  flex-direction: column;
}
.interview__note {
  margin-top: 36px;

  line-height: 30px;
  text-transform: uppercase;
  text-indent: 45px;
  .interview__pink-text {
    color: $pink;
  }
  .interview__hidden-text {
    display: none;
  }
}
.btn--submit {
  padding: 15px 0;
}
.btn--submit:disabled {
  background: #e5e5e5;
}
.btn--submit:disabled:hover {
  background: #e5e5e5;
}
@media #{$tablet} {
  fieldset:nth-child(2n) {
    background: $white;
  }

  .form__contact,
  .form__achievements,
  .form__application,
  .form__emotions {
    .form__wrap {
      position: relative;

      box-sizing: border-box;
      margin-bottom: 15px;
      padding: 60px;

      border: 2px solid #e5e5e5;
    }
  }
  .form__full-name {
    order: 1;
    padding-bottom: 25px;
    .form__row {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 55px;
    }
    .form__row:first-child {
      .form-input-text {
        flex-basis: 87%;
      }
    }
    .form__row:last-child {
      margin-bottom: 0;
    }
    .form-input-text {
      flex-basis: 81%;
      margin: 0;
    }
    .form-label-text {
      text-indent: 0;
    }
  }
  .fieldset-title {
    position: absolute;
    top: -13px;
    left: 50%;

    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;

    line-height: 30px;
    white-space: nowrap;

    background: $white;
    transform: translateX(-50%);
  }
  .form__application {
    order: 2;
    padding-bottom: 18px;
    .form-radio-label {
      padding-left: 58px;
    }
  }
  .form__contact {
    order: 3;
    padding-bottom: 47px;
    .form__wrap {
      padding-top: 49px;
      padding-bottom: 10px;
    }
    .fieldset-title {
      display: inline-block;
    }
    .form__row-tablet {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 21px;
    }

    .form__row-tablet:last-child {
      margin-bottom: 10px;
    }
    .form-input-text {
      margin-bottom: 13px;
      padding-left: 16px;
    }
    .form-label-text {
      text-indent: 17px;
    }
    .form__row {
      display: none;
    }
  }
  .form__icon-phone {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
    svg {
      fill: $pink;
    }
  }

  .form__icon-mail {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
    svg {
      fill: $pink;
    }
  }
  .form__achievements {
    order: 4;
    padding-bottom: 0;
    .form__row:not(:last-child) {
      margin-bottom: 52px;
    }
    .form-label-checkbox {
      padding-left: 57px;
    }
    .form__wrap {
      padding: 56px 60px;
    }
  }
  .form__emotions {
    order: 5;
    padding-top: 49px;
    padding-bottom: 36px;
    .form__wrap {
      padding-top: 47px;
      padding-bottom: 52px;
    }
    textarea {
      height: 190px;
    }
  }
  .form__submit-wrap {
    order: 6;
    .form__wrap {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .btn--submit {
      flex-basis: 33%;
    }
  }
  .btn--submit,
  .interview__note {
    flex-grow: 1;
  }
  .interview__note {
    text-align: right;
  }
  .interview__hidden-text {
    display: none;
  }
}
@media #{$desktop} {
  .form-label-text,
  .fieldset-title {
    font-size: 14px;
  }
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .form__full-name {
    flex: 1 50%;
    box-sizing: border-box;
    padding-top: 45px;
    padding-right: 1%;
    .form__wrap {
      margin-right: 0;
      margin-left: 22.05%;
    }
    .form__row {
      justify-content: space-around;
      margin-bottom: 57px;
    }
    .form__row:first-child .form-input-text {
      flex-basis: 78%;
      margin-left: 18px;
    }
    .form-input-text {
      flex-basis: 70%;
    }
  }
  .form__application {
    flex: 1 50%;
    box-sizing: border-box;
    padding-top: 37px;
    padding-left: 36px;
    .form__wrap {
      box-sizing: border-box;
      width: 77%;
      margin-right: 18.05%;
      margin-left: 0;
      padding-left: 74px;
    }
    .form__row {
      margin-bottom: 43px;
    }
  }
  .form__contact {
    flex: 1 100%;
    padding-top: 33px;
    padding-bottom: 24px;
    .form__wrap {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 45px;
    }
    .form__row-tablet {
      flex: 0 46%;
      margin-bottom: 10px;
    }
    .form-label-text {
      margin-bottom: 0;

      line-height: 18px;
    }
    .form-input-text {
      margin-bottom: 18px;
    }
  }
  .form__achievements {
    flex: 1 100%;
    padding-top: 23px;
    .form__wrap {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 60px;
      padding-right: 0;
      padding-bottom: 0;
    }
    .form__row {
      flex: 0 30%;
      margin-bottom: 15px;
    }
    .form__row:not(:last-child) {
      margin-bottom: 52px;
    }

    .form__row:nth-child(3) {
      order: 2;
    }
    .form__row:nth-child(4) {
      order: 4;
    }
  }
  .form__icon-mail {
    top: 15px;
  }
  .form__emotions {
    flex: 1 100%;
    margin-bottom: 0;
    padding-top: 53px;
    .form__wrap {
      padding-bottom: 45px;
    }
    textarea {
      height: 120px;
    }
  }

  .form__submit-wrap {
    flex: 1 100%;
    .btn--submit {
      flex-grow: 0;
      flex-basis: 31.9%;
    }
  }
  .interview__note {
    display: block;

    font-size: 14px;
    text-indent: 0;
    .interview__hidden-text {
      display: inline;
    }
  }
}

/*-HOVER-*/
.form-input-text:hover,
textarea:hover,
.form-radio-label:hover::before,
.form-label-checkbox:hover::before {
  border-color: $base-color;
}

.form-input-text:focus,
textarea:focus,
.form-radio-label:active::before,
.form-label-checkbox:active::before {
  border-color: $pink;
}
