.application {
  display: flex;
  flex-flow: column wrap;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: $white;
}
.application__icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

@media #{$mobile} {
  .application {
    padding: 28px 0;

    font-size: 14px;

    background: $dark-blue;
  }
}

@media #{$tablet} {
  .application {
    align-items: flex-start;
    width: 48.3%;
  }
}
