.btn-transparent {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 15px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-decoration: none;

  background-color: transparent;
  border: 3px solid $white;
  border-radius: 30px;

  transition: 0.5s;
}

.btn-transparent--cancel,
.btn-transparent--post {
  width: 88%;
}

.btn-transparent--cancel {
  color: rgba(40,54,69,0.1);

  border-color: rgba(40,54,69,0.1);
}

.btn-transparent--post {
  margin-bottom: 15px;

  color: $pink;

  border-color: $pink;
}


.btn-transparent--post:hover {
  color: $white;

  background: $pink;
}

.btn-transparent--post:active {
  color: rgba(255,255,255,0.3);
}

.btn-transparent--cancel:hover {
  color: rgba(40,54,69,0.3);

  border-color: rgba(40,54,69,0.3);
}

.btn-transparent--cancel:active {
  color: rgba(255,255,255,0.3);

  background: rgba(40,54,69,0.3);
  border-color: transparent;
}

@media #{$desktop} {
  .btn-transparent {
    font-size: 21px;
  }
  .btn-transparent--post {
    font-size: 18px;
    line-height: 18px;
  }

  .btn-transparent--cancel {
    font-size: 18px;
    line-height: 18px;
  }
}
