.header-iphone {
  display: block;

  img {
    vertical-align: bottom;
  }
}

@media #{$tablet} {
  .header-iphone {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;


    img {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 545px;
    }
  }
}

@media #{$desktop} {
  .header-iphone {
    img {
      width: 1050px;
      height: 645px;
    }
  }
}
