.header-iphone {
  display: block;
  // min-width: 258px;
  // min-height: 286px;
  // background: url("../img/iphone-hand-mobile.png") no-repeat left center;

  img {
    vertical-align: bottom;
  }
}

@media #{$tablet} {
  .header-iphone {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    // height: 545px;

    margin: 0 auto;

    @include wrap;
    // background: url("../img/iphone-hand-tablet.png") no-repeat right center;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media #{$desktop} {
  .header-iphone {
    // height: 645px;
    // background: url("../img/iphone-hand-desktop.png") no-repeat 90% center;
    @include wrap;
  }
}
