.inner-subtitle {
  padding: 45px 0;

  text-align: center;

  @include wrap;
  span {
    display: none;
  }
}
@media #{$tablet} {
  .inner-subtitle {
    box-sizing: border-box;
    padding: 0 10%;
    padding-top: 90px;
    padding-bottom: 90px;

    font-size: 18px;
    text-align: center;
    span {
      display: inline;
    }
  }
}
