.inner-subtitle {
  padding-top: 45px;
  padding-bottom: 12px;

  line-height: 30px;
  text-align: center;

  @include wrap;
  span {
    display: none;
  }
}
@media #{$tablet} {
  .inner-subtitle {
    box-sizing: border-box;
    padding: 0 8%;
    padding-top: 90px;
    padding-bottom: 45px;

    font-size: 18px;
    text-align: center;
    span {
      display: inline;
    }
  }
}

@media #{$desktop} {
  .inner-subtitle {
    padding-right: 7%;
    padding-left: 7%;
  }
}
