
.main-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include wrap;
}
.footer__logo {
  padding-bottom: 33px;

  fill: $base-color;
}

.footer__logo:hover {
  fill: $pink;
}

.footer__logo:active {
  opacity: 0.3;

  fill: $base-color;
}

.footer__logo--desktop {
  display: none;
}

.main-footer__build {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.main-footer__logo-academy {
  fill: $pink;
}

.main-footer__logo-academy:hover {
  fill: $base-color;
}

.main-footer__logo-academy:active {
  fill: rgba(40,54,69,0.3);
}

@media #{$mobile} {
  .main-footer--index {
    display: none;
  }
  .main-footer__logo-academy--desktop {
    display: block;
  }
}

@media #{$tablet} {
  .main-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 35px;
  }

  .footer__logo {
    margin-bottom: 0;
  }
  .main-footer__build {
    align-self: flex-start;
    padding-top: 10px;
  }
}

@media #{$desktop} {
  .footer__logo {
    display: none;
  }
  .footer__logo--desktop {
    display: block;

    fill: $base-color;
  }
}
