
.main-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include wrap;
}
.footer__logo {
  margin-bottom: 40px;
}

.main-footer__build {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media #{$tablet} {
  .main-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 0;
  }
}
