
@media #{$mobile}, #{$tablet} {
  .main-nav__toggle {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 12;

    display: block;
    width: 50px;
    height: 50px;

    cursor: pointer;
  }

  .main-nav__toggle--closed::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;

    width: 36px;
    height: 4px;

    background: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  .main-nav__toggle--opened {
    top: 5px;
    right: 0;
  }

  .main-nav__toggle--opened::before,
  .main-nav__toggle--opened::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  .main-nav__toggle--opened::before {
    transform: rotate(45deg);
  }

  .main-nav__toggle--opened::after {
    transform: rotate(-45deg);
  }
}

@media #{$desktop} {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: flex;
    flex-grow: 2;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .main-nav__link {
    border: none;
    box-shadow: none;
  }
}
