.main-header {
  position: relative;

  padding-bottom: 50px;

  background: $dark-blue url("../img/bg-back-mobile.jpg") no-repeat center center;
  background-size: cover;
  &__wrap {
    position: relative;

    @include wrap;
  }
}
.main-header--index {
  padding-bottom: 0;
}
.main-header__top-line {
  margin-bottom: 20px;
  padding: 18px 0;

  background: rgba(0,0,0,0.3);
}
.main-header__logo {
  position: relative;
  z-index: 12;

  display: inline-block;
}
.main-header__logo path {
  fill: #000000;
}

.main-header__logo img:hover {
  path {
    fill: $pink;
  }
}

.main-header__title {
  box-sizing: border-box;
  margin: 0;

  font-weight: 300;
  font-size: $mobile-title;
  line-height: 30px;
  text-align: center;
  color: $white;
}
.main-header__title--index {
  margin-bottom: 18px;
}
@media #{$tablet} {
  .main-header {
    padding-bottom: 108px;

    background: $dark-blue url("../img/bg-back-tablet.jpg") no-repeat center center;
  }
  .main-header__top-line {
    margin-bottom: 100px;
    padding: 26px 0 36px;
  }
  .main-header__logo {
    width: 147px;
  }
  .main-header__title {
    display: inline-block;
    width: 300px;
    margin-bottom: 31px;
    padding: 0 30px;

    font-size: 40px;
    line-height: 46px;
  }
  .main-header__inner-title {
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 0;

    font-size: $desk-title;
    line-height: 60px;
  }
}
@media #{$desktop} {
  .main-header {
    padding-bottom: 90px;

    background: $dark-blue url("../img/bg-back-desktop.jpg") no-repeat center center;
  }
  .main-header__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    .main-header__wrap {
      flex-basis: 26.6%;
      margin: 0;
      padding-left: 10.83333%;
    }
  }
  .main-header--index {
    padding-bottom: 117px;
  }
  .main-header__top-line--index {
    margin-bottom: 110px;
  }
  .main-header__logo {
    flex-grow: 1;
  }
  .main-header__title {
    display: block;
    width: 100%;

    font-size: $desk-title;
    line-height: 60px;
  }
  .main-header__title--index {
    width: 350px;
    margin-bottom: 50px;
    padding-left: 75px;
  }
  .interview__note-desktop {
    display: block;
  }
  .interview__note {
    display: none;
  }
}
/*-RETINA-*/
@media #{$retina} and #{$mobile} {
  .main-header {
    background: $dark-blue url("../img/bg-back-mobile@2x.jpg") no-repeat center center;
  }
}

@media #{$retina} and #{$tablet} {
  .main-header {
    background: $dark-blue url("../img/bg-back-tablet@2x.jpg") no-repeat center center;
  }
}

// @media #{$retina} and #{$desktop} {
//   .main-header {
//     background: $dark-blue url("../img/bg-back-desktop@2x.jpg") no-repeat center center;
//   }
// }
