  .map {
  position: relative;

  min-height: 300px;

  background: url("../img/bg-map.png") no-repeat center center;
  background-size: 100% 100%;
}

.map::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 2;

  display: block;
  width: 100%;
  height: 80px;

  background: url("../img/bg-triangle-white-footer.svg") no-repeat;
  background-size: 100%;
}

@media #{$tablet} {
  .map {
    height: 380px;
    margin-bottom: 25px;

    background: url("../img/bg_map.png") no-repeat center center;
  }
  .map::before {
    content: "";

    height: 19vh;
  }
}


@media #{$desktop} {
  .map {
    height: 524px;
    margin-bottom: 40px;
  }
  .map::before {
    content: "";

    height: 21vh;
  }
}
