.post {
  @include wrap;
}

.post {
  position: relative;

  margin-bottom: 20px;

  background: $bg-gray;
}
.post--best {
  margin-top: 70px;
  padding: 0;
  .post__photo {
    width: calc(100% + 12.5%);
  }
}

.post__slogan {
  margin-bottom: 40px;

  text-align: center;
  span {
    display: block;
  }
}

.post__text-comment-wrap {
  padding: 20px 18px;
}
.panorama-title {
  position: absolute;
  top: 0;
  right: 0;

  width: 140px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background: $pink;
}

.post__photo {
  display: block;
  max-width: 100% ;
  margin: 0 auto;

  vertical-align: bottom;
}

.post__comment {
  margin: 0;
}

.post__author {
  font-weight: 700;
}

.comment__date {
  font-weight: 400;
}
.post__text {
  margin-top: 0;
}
.post__like {
  display: flex;
  flex-direction: row;
}
.post__like-btn {
  position: relative;

  align-self: flex-start;

  font-size: 12px;
  color: $pink;
  text-transform: uppercase;
  text-decoration: none;
}
.icon-heart {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 18px;

  background: url("../img/icon-heart.svg") no-repeat center center;
}

@media #{$tablet} {
  .post__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .post {
    display: flex;
    flex-grow: 0;
    flex-basis: 42.8%;
    flex-direction: column;
  }

  .post:nth-child(2n) {
    margin-left: 5.7%;
  }
  .post:nth-child(2n+3) {
    margin-right: 5.7%;
  }
  .post--best {
    margin-right: 0;
    margin-left: 0;
  }
  .post--best {
    flex: 1 100%;
    margin-bottom: 50px;
  }

  .post__text-comment-wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
  }
  .post__like {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .icon-heart {
    margin: 0;
  }
  .post__slogan {
    display: block;
    margin-top: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;

    font-size: 18px;
  }
}

@media #{$desktop} {
  .post:not(.post--best) {
    flex: 0 25%;
  }
  .post:nth-child(2n) {
    margin-left: 0;
  }
  .post:nth-child(2n+3) {
    margin-right: 1.5%;
  }
  .post:nth-child(3n+2) {
    margin-left: 10.83%;
  }
  .post:nth-child(3n+4) {
    margin-right: 10.83%;
  }
  .post--best {
    margin-right: 0;
    margin-left: 0;
  }
}
