.price-list {
  position: relative;

  padding-top: 122px;
  padding-bottom: 45px;

  background: $bg-gray;
  &__wrap {
    text-align: center;

    @include wrap;
  }
}
.price-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 11vh;

  background: url("../img/bg-triangle-white.svg") no-repeat left center;
  background-size: cover;
}

.price__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  span:last-child {
    font-weight: 300;
    font-size: 24px;
  }
}

.price__hit {
  position: relative;
}

.price__hit-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 73px;
  height: 73px;

  background: url("../img/bg-hit.svg") no-repeat center center;
}

th {
  background: $base-color;
  border: 2px solid #cccccc;
}

.price__table {
  display: inline-table;
  width: 100%;
  margin-bottom: 35px;

  border-collapse: collapse;
  empty-cells: hide;
  font-size: 18px;
  line-height: 30px;
  text-align: left;

  td {
    padding: 15px;

    text-transform: uppercase;

    border: 2px solid #cccccc;
  }
}

@media #{$mobile} {
  .hide {
    display: none;
  }
}
@media #{$tablet} {
  .price-list {
    padding-top: 95px;
    padding-bottom: 15px;
  }
  thead th:first-child {
    background-color: transparent;
    border: 0;
  }
  .price__table td {
    padding: 5px 10px;

    text-transform: capitalize;
  }
}

@media #{$desktop} {
  .price-list {
    padding-top: 125px;
    padding-bottom: 90px;
  }
  .price__table td {
    padding: 10px;
  }
  .price-list .slider-controls {
    display: none;
  }
}
