.social-item {
  margin-bottom: 40px;
}
.social-item__links {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 12px;

  line-height: 45px;
  text-align: center;

  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.social-item__links:hover {
  border-color: $base-color;
}
.social-item__links:active {
  border-color: rgba(40, 54, 69, 0.1);

  .social-item__links-youtube,
  .social-item__links-twitter,
  .social-item__links-facebook {
    fill: rgba(210,40,86,0.3);
  }
}
.social-item__links:last-child {
  margin: 0;
}

.social-item__links-youtube,
.social-item__links-twitter,
.social-item__links-facebook {
  display: inline-block;

  fill: $pink;
}


.main-footer__build a {
  margin-left: 10px;
}

@media #{$tablet} {
  .social-item {
    margin-bottom: 0;
    padding-right: 20px;
  }
}

@media #{$desktop} {
  .social-item {
    padding-right: 0;
  }
}
