.tool {
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 40px;

  background: $bg-gray;
}
.tool__photo {
  display: block;
  margin: 0 auto;
}
.tool__instrument {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 45px;
}
.tool__crop {
  display: inline-block;
  order: 1;
  width: 44px;
  height: 44px;

  fill: $pink;
}

.tool__color {
  width: 48px;
  height: 43px;
}
.tool__brightness {
  width: 32px;
  height: 32px;
}

.tool__color,
.tool__brightness {
  display: inline-block;

  fill: rgba(40,54,69, 0.3);
}

.tool__crop:hover,
.tool__color:hover,
.tool__brightness:hover {
  fill: rgba(40,54,69, 0.5);
}

.tool__crop:active,
.tool__color:active,
.tool__brightness:active {
  fill: $pink;
}


.tool__row:nth-child(2) {
  order: 2;
}

.tool__row:nth-child(3) {
  order: 3;
}

@media #{$tablet} {
  .tool__flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    @include wrap;
  }
  .tool {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tool__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #dddfe0;
  }
  .range-controls {
    margin-bottom: 0;
  }
  .tool__wrap-photo {
    flex-basis: 50%;
    a {
      display: inline-block;
    }
    .tool__photo {
      margin: 0;
    }
  }
  .tool__instrument {
    margin: 0;
    padding: 0;
  }
  .tool__wrap-instrument {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 0;
  }
  .tool__crop {
    width: 22px;
    height: 22px;

    fill: rgba(40,54,69, 0.3);
  }

  .tool__color {
    width: 24px;
    height: 22px;
  }
  .tool__brightness {
    width: 22px;
    height: 16px;
  }
}

@media #{$desktop} {
  .tool {
    @include wrap;
  }
  .tool {
    margin-bottom: 90px;
  }
  .tool__row {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .tool__crop {
    width: 44px;
    height: 44px;
  }

  .tool__color {
    width: 44px;
    height: 43px;
  }
  .tool__brightness {
    width: 44px;
    height: 32px;
  }
}
