.tool-button {
  padding-top: 40px;

  text-align: center;

  border-top: 1px solid rgba(40,54,69,0.1);
}
.btn-transparent--post {
  margin-bottom: 15px;

  color: $pink;

  border-color: $pink;
}
.btn-transparent--cancel {
  color: rgba(40,54,69,0.1);

  border-color: rgba(40,54,69,0.1);
}

@media #{$tablet} {
  .tool-button {
    display: flex;
    flex-direction: column;

    border: 0;
  }
}
