.tool-button {
  padding-top: 40px;

  text-align: center;

  border-top: 1px solid rgba(40,54,69,0.1);
}
.btn-transparent--post {
  margin-bottom: 15px;

  color: $pink;

  border-color: $pink;
}
.btn-transparent--cancel {
  color: rgba(40,54,69,0.1);

  border-color: rgba(40,54,69,0.1);
}
.btn-transparent--post:hover {
  color: $white;

  background: $pink;
}

.btn-transparent--post:active {
  color: rgba(255,255,255,0.3);
}

.btn-transparent--cancel:hover {
  color: rgba(40,54,69,0.3);

  border-color: rgba(40,54,69,0.3);
}

.btn-transparent--cancel:active {
  color: rgba(255,255,255,0.3);

  background: rgba(40,54,69,0.3);
  border-color: transparent;
}

@media #{$tablet} {
  .tool-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    border: 0;
  }
  .btn-transparent--post,
  .btn-transparent--cancel {
    width: 80%;
  }
}
@media #{$desktop} {
  .tool-button {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .btn-transparent--post,
  .btn-transparent--cancel {
    width: 39.3%;
    margin-bottom: 0;
  }
}
